/*
   . is for class
   # is for id
 */

body {
    background-color: rgb(9, 43, 15);
}

p {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.banner {
    text-align: center;
}

.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }

  .sidenav a:hover {
    color: #f1f1f1;
  }

  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

.inspiration {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

.demobutton {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.navbutton {
    display: inline-block;
    cursor: pointer;
    }
    
    .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: rgb(175, 175, 175);
    margin: 6px 0;
    transition: 0.4s;
    }
    
    /* Rotate first bar */
    .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
    }
    
    /* Fade out the second bar */
    .change .bar2 {
    opacity: 0;
    }
    
    /* Rotate last bar */
    .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
    }